.student-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .student-table th,
  .student-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  .student-table th {
    background-color: #f2f2f2;
  }
  
  .student-table td button {
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .student-table .delete-button {
    color: #ff0000;
  }
  
  .student-table .view-button {
    color: #007bff;
  }
  
  .student-table .delete-button:hover,
  .student-table .view-button:hover {
    transform: scale(1.2);
  }
  
  .student-table .delete-button i,
  .student-table .view-button i {
    font-size: 16px;
  }
  
  .details-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%; /* Adjust width as needed */
    max-width: 100px; /* Add a maximum width */
    position: relative;
    align-items: center;
}

.close-button {
    color: #f00b0b;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


